<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Captcha</title>
    
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
      crossorigin="anonymous"/>
  </head>
  <body>
    <h2 class="text-center mt-3 text-info">Django Captcha</h2>
    {% if messages %}
      {% for message in messages %}
        <div class="alert text-center mt-5 alert-{{ message.tags }}">
           {{ message }}
        </di>
      {% endfor %}
    {% endif %}
    <form action="" method="post" class="text-center mt-5" novalidate>
      {% csrf_token %}
      {{ form.captcha }}
      <input type="submit" classs="btn btn-primary" value="submit">
    </form>
  </body>
</html>
